@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #faf9f6;
  --background: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #0a0a0a;
    --background: #faf9f6;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
